body{
    background-color: #B3A68D;
}
h1{
    width: 100%;
}

#titulo1{
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: #736B5B; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
  }
footer{
    
    text-align: center;
    background-color: black;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100%;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

 


@media screen and (max-width: 768px){
 
    body{
        background-color: #B3A68D;
    }
    h1{
        width: 100%;
    }
    
    #titulo1{
        margin: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        background-color: #736B5B; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 5px;
      }
    footer{
        
        text-align: center;
        background-color: black;
        color: white;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        height: 100%;
        width: 100%;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }
    a img{
        width: 100%;
        height: auto;
    }

    .band{
      width: 100%;
      height: auto;
      padding-top: 2%;
    }

    pre{
      width: 100%;
      align-items: center;
    }

     
    

   }
