/* RESET */
body{
    /* background-color: #63316d; */
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #333;
    width: 100%;
    text-align: center;
}

p {
    font-size: 1em;
    color: #777;
}

/* fim do reset */


/* MENU */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo img {
    width: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #00347b;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
    height: 10vh;
    width: 100%;
    float: none;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 10px 0 10px 0;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list li a {
    text-decoration: none;
    color: #111;
    transition: 0.3s;
    font-weight: 700;
}

.nav-list li a:hover {
    text-decoration: none;
    color: #092aa5;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

/* Fim do menu */



/* Footer */


/* RODAPE */
.rodape {
    width: 100%;
    float: left;
    background-color: #00347b;
    padding: 25px 8%;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    
}

.rodape p {
    color: #fff;
    font-weight: bold;
}

.rodape h2 {
    color: #fff;
}

/* FOOTER - RODAPE */
footer {
    padding: 5em 0;
    padding-bottom: 40px;
    
}

footer h2,
footer p,
footer a,
footer span {
    color: #fff;
}

footer h2 {
    font-weight: 400;
}

footer .wrapper:after {
    clear: both;
    content: "";
    display: block;
}

footer .wrapper img{
    width: 45px;
}

footer .wrapper i{
    color: white;
    padding-top: 1%;
    padding-right: 1%;
}
/* Fim do footer */


/* Main */
.principal {
    width: 100%;
    float: left;
    padding: 16px 8%;
}


.sobre {
    width: 60%;
    float: left;
    padding: 0 20px 20px 0;
}

.sobre h2 {
    color: #111;
}

.sobre img {
    width: 50%;
    float: left;
    border-radius: 7px;
    margin: 0 15px 5px 0;
}

.sobre p {
    text-align: justify;
    font-size: 1.2em;
}

.musica-para-todos h2{
    color: #111;
}


/* cards */
main.cards {
    display: flex;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

main.cards section.card.GD button {
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
main.cards section.card.Djavan button {
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards section.card.ID button {
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}
main.cards section.card.CBJ button {
    background: linear-gradient(to right, #e48e66, #FFC7D9);
}

main.cards section.card.GD {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
main.cards section.card.Djavan {
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.card.ID {
    box-shadow: 20px 20px 50px -30px #FFC1D5;
}
main.cards section.card.CBJ {
    box-shadow: 20px 20px 50px -30px #FFC1D5;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
}

@media screen and (max-width: 768px) {

    .principal .sobre{
        width: 100%;
    }

    .rodape {
        width: 100%;
        float: left;
        background-color: #00347b;
        padding: 25px 8%;
        margin-top: 40px;
        position: relative;
        bottom: 0;
        
    }

}